body {
    background-color: #f0f0f0;
}

#result {
   font-size: 1.2rem;
   border-top: 1px dotted darkgray;
   border-bottom: 1px dotted darkgray;
   padding-top: 10px;
   padding-bottom: 10px;
}

#result span {
    font-weight: bold;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.error{
    color: red;
}

#quickActions{
    display: block;
    margin-top: 30px;
}

.card-header a{
    margin-left: -15px;
    color:teal;
    font-weight: 600;
}